In [13]:
import pandas as pd
from IPython.display import display

import matplotlib.pyplot as plt

In [14]:
t = pd.read_csv('data_lab1/70/norm.txt', header=None)

display(t)

          0
0   21.5447
1   18.1367
2   13.3060
3   -2.4954
4   20.9216
..      ...
64  24.1333
65   8.5553
66  20.4021
67  36.4779
68  29.4690

[69 rows x 1 columns]

In [15]:
df = t[0]
df = df.sort_values().reset_index(drop=True).value_counts()
values = df.values
sm = values.sum()

df = pd.DataFrame(df)
df["rel. freq."] = values / sm
df = df.reset_index().rename(columns={'index': 'X', 0:'freq.'})
df

          X  freq.  rel. freq.
0   -2.4954      1    0.014493
1   22.2236      1    0.014493
2   24.1333      1    0.014493
3   23.5186      1    0.014493
4   23.2450      1    0.014493
..      ...    ...         ...
64  19.6151      1    0.014493
65  20.0067      1    0.014493
66  20.1889      1    0.014493
67  20.2115      1    0.014493
68  36.7238      1    0.014493

[69 rows x 3 columns]

In [30]:
info = t.describe()
median = t.median()
info = info.drop(['25%', '50%', '75%','count']).T
info['median'] = median
info = info.T
info

                0
mean    19.944359
std      7.932778
min     -2.495400
max     36.723800
median  20.402100

In [29]:
# skewness
# curtosis
# antikurtosis